USE [master]
GO
/****** Object:  Database [RevendaDeCarros_Will]    Script Date: 12/6/2023 7:37:31 PM ******/
CREATE DATABASE [RevendaDeCarros_Will]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RevendaDeCarros_Will', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RevendaDeCarros_Will.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RevendaDeCarros_Will_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RevendaDeCarros_Will_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RevendaDeCarros_Will].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RevendaDeCarros_Will]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 12/6/2023 7:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Plate] [varchar](10) NULL,
	[Color] [varchar](50) NULL,
	[Brand] [varchar](50) NULL,
	[Model] [varchar](50) NOT NULL,
	[Year] [varchar](4) NULL,
	[Condition] [varchar](10) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignUp_Info]    Script Date: 12/6/2023 7:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignUp_Info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [text] NOT NULL,
	[LastName] [text] NOT NULL,
	[Email] [varchar](256) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[CPF] [varchar](15) NULL,
	[DateOfBirth] [datetime] NOT NULL,
 CONSTRAINT [PK_SignUp_Info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
